*{
    text-decoration:none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

body {
    overflow-x: hidden; /* 가로 스크롤 방지 */
}

body::-webkit-scrollbar{
    width: 15px;
    background: linear-gradient(to bottom, #1b2021 0%,  20%, #fff 20%, #fff 100%);
}

body::-webkit-scrollbar-thumb{
    background-color: #89afa3;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px #c7e3da;
}

body::-webkit-scrollbar-track{
    background: linear-gradient(to bottom, #1b2021 0%, #1b2021 clamp(50px, 10vh, 60px), #dfdfdf clamp(50px, 10vh, 60px), #dfdfdf 100%);
    border-radius: 10px;
}


.intro_bg{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width:100%;
}

.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: clamp(50px, 10vh, 60px);
    background: #1b2021;
    z-index: 1000;
    padding: 0 2vw;
    box-sizing: border-box;
}


.logo{
    font-family: 'Roboto Slab';
    font-size: clamp(25px, 3vw, 35px);
    font-weight: 300;
    margin:auto;
    margin-left:10vw;
    background: #1b2021;
}

.logo a{
    color: #efefef;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    background: #1b2021;
    margin-right: 15vw;
}

.nav .dropdown {
    position: relative;
}

.nav .dropdown a{
    color: #efefef;
    font-size: clamp(14px, 0.8vw, 23px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin: 2vw;
    text-decoration: none;
    position: relative;
}

.nav .dropdown i {
    color: #efefef;
    font-size: clamp(10px, 0.8vw, 20px);
}

.nav .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left:50%;
    transform: translateX(-50%);
    background-color: #1b2021;
    min-width: clamp(50px, 10vw, 100px);
    padding-top: 1vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav .dropdown-content1 {
    display: none;
    position: absolute;
    top: 100%;
    left:80%;
    transform: translateX(-50%);
    background-color: #1b2021;
    min-width: 230px;
    padding-top: 1vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav .dropdown-content1 .dropdown-item,
.nav .dropdown-content .dropdown-item {
    padding: 10px 15px;
    color: #efefef;
    margin: 0;
    text-decoration: none;
    display: block;
}

.nav .dropdown-content1 .dropdown-item:hover,
.nav .dropdown-content .dropdown-item:hover {
    background-color: #5a5e5f;
}

.nav .dropdown:hover .dropdown-content1,
.nav .dropdown:hover .dropdown-content {
    display: block;
}


.menu-trigger,
.side_menu{
    display: none;
}

@media (max-width: 650px) {

    body {
        overflow-x: hidden; /* 가로 스크롤 방지 */
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .intro_bg{
        width:100%;
    }
    
    .menu{
        height: 60px;
        background: #1b2021;
        z-index: 3;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: #1b2021;
    }
    
    .logo > a {
        text-align: center;
        font-size: clamp(20px, 3vw, 48px);
        font-family: 'Roboto Slab';
        font-weight: 300;
        color: #efefef;
    }
    
    
    .nav,
    .robot{
        display: none;
    }

    .menu-trigger {
        display: block;
        margin-right: 5vw;
        margin-bottom: 0px;
        position: relative;
        width: 40px;
        height: 34px;
        cursor: pointer;
        z-index: 4;
    }

    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        
        
    }
    
    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #efefef;
        border-radius: 4px;
    }
    
    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }
    
    .menu-trigger span:nth-of-type(2) {
        top: 15px;
    }
    
    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }
    
    /* type-01 */
    /* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
    .menu-trigger.active-1 span:nth-of-type(1) {
        -webkit-transform: translateY (15px) rotate (-45deg);
        transform: translateY(15px) rotate(-45deg);
    }
    
    .menu-trigger.active-1 span:nth-of-type(2) {
        opacity: 0;
    }
    
    .menu-trigger.active-1 span:nth-of-type(3) {
        -webkit-transform: translateY(-15px) rotate(45deg);
        transform: translateY(-15px) rotate(45deg);
    }

    .side_menu {
        display: none;
        font-size: clamp(20px, 2vw, 30px);
        font-family: 'Roboto Slab';
        font-weight: 400;
        position: absolute;
        width: 100vw;
        top: 60px;
        background: #343a3b;
        padding-left: 50px;
        list-style: none;
        border-top: 1px solid #393e3e;
        z-index: 2;
        height: auto;
        overflow: hidden;
        max-height: calc(100vh - 20px);
    }
    
    .side_menu.active {
        display: block;
    }
    
    .side_menu .dropdown .a{
        display: block;
    }

    .side_menu .dropdown-content {
        display: none;
        background-color: #343a3b;
        width: 100%;
        min-width: clamp(50px, 10vw, 100px);
        margin-top: 5px;
        padding-left: 25px;
        z-index: 1000;
        position: static;
        transform: none;
    }

    .side_menu .dropdown i {
        color: #efefef;
        font-size: clamp(12px, 1vw, 25px);
    }
    
    .side_menu .dropdown.active .dropdown-content {
        display: block;
    }
    
    .side_menu .dropdown-content .dropdown-item {
        display: block;
        padding: 5px 0;
        color: #b9b9b9;
        text-decoration: none;
        font-size: clamp(15px, 1.5vw, 20px);
    }
    
    .side_menu li {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .side_menu li a {
        text-decoration: none;
        color: #b9b9b9;
    }
    
    

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        z-index: 1;
    }
    
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
    
    .side_menu.active ~ .overlay {
        opacity: 1;
        visibility: visible;
    }
}

/*여기까지 nav바 css*/

/*home(index)*/
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.margin{
    width: 100%;
    height: clamp(50px, 10vh, 60px);
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: clamp(24px, 3vw, 30px);
    font-family: 'Roboto Slab';
    font-weight: 700;
}

.info{
    margin: auto;
    text-align: center;
    width: 60vw;
    margin-top: 50px;
    font-size: clamp(18px, 2vw, 25px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    letter-spacing: 0.01em;
    color:#000000;
}

.info h4 {
    display: inline;
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin: 0;
}

.topic{
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-size: clamp(24px, 3vw, 30px);
}

.topic p{
    font-size: clamp(13px, 2vw, 20px);
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    width: 90vw;
    margin-bottom: 40px;
    color: #484848;
}

.research-area {
    margin: auto;
    text-align: center;
    width: 70%;
}

.research-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 20px;
    text-align: center;
}

.research-icons .icon:nth-child(-n+3) {
    flex: 1 1 calc(33.33% - 40px);
    margin-bottom: 10vh;
}

.research-icons .icon:nth-child(n+4) {
    flex: 1 1 calc(50% - 40px);
}

.icon i {
    margin-bottom: 10px;
    color: #66857b;
    font-size: clamp(10px, 8vw, 70px);
}

.icon p {
    font-size: clamp(15px, 2vw, 27px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
    color: #000000;
}

.icon p.sub-text {
    font-size: clamp(13px, 2vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-align: center;
    width: 80%;
    color: #484848;
}

.projects {
    border-left: 10px solid #66857b;
    padding-left: 15px;
    margin: 20px 0;
    margin-bottom: 50px;
    color: #333;
    text-align: left;
}

.projects p{
    font-size: clamp(24px, 3vw, 30px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-bottom:20px;
}

.projects ul{
    font-size: clamp(15px, 2vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 300;
    padding-left: 20px;
}

.projects ul > li{
    margin-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: clamp(80px, 15vh, 110px);
    background-color: #fff;
    padding-top: 30px;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    border-top: 1px solid #c5c5c5;
}

.footer p,
.footer p > a {
    width: 60%;
    margin: auto;
    font-family: 'Roboto Slab';
    font-size: clamp(12px, 1.5vw, 15px);
    font-weight: 300;
    color: #6b6b6b;
    text-align: center;
}

.menu-item::after {
    content: "\00a0\00a0\00a0|\00a0\00a0\00a0"; /* 공백 3개와 | 기호 */
}

.menu-item:last-child::after {
    content: ""; /* 마지막 항목에서는 공백과 | 제거 */
}

.margin-footer{
    width: 100%;
    height: 20px;
    background-color: #fff;
}

@media (max-width: 650px){
    .info{
        width: 90vw;
    }


    .research-area {
        width: 90vw;
    }

    .projects ul{
        font-size: 14px;
    }

    .footer{
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footer p{
        width: 90%;
    }

    .footer::before {
        width: 90%;
    }


    .margin-footer{
        height: 10px;
    }
}



/*Member*/
/*Professor*/

.professor{
    display: flex;
    margin: auto;
    margin-top:5vh;
    width: 60vw;
    height: 400px;
}

.face {
    display: flex;
    padding-top: 20px;
}

.face img {
    height: 300px;
    object-fit: cover;
}

.about {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    padding-top: 50px;
}

.about p{
    font-size: clamp(15px, 2.5vw, 25px);
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.about li {
    font-size: clamp(10px, 2vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-bottom: 10px; 
    position: relative;
    padding-left: 1.5em;
    list-style: none;
}

.about li::before {
    content: '•';
    position: absolute;
    left: 0;
    width: 1em;
}

@media (max-width: 1200px){
    .professor{
        width: 80vw;
    }

    .face img {
        height: 225px;
    }

    .about{
        margin-left: 50px;
    }

    .about p{
        font-size: 20px;
    }

    .about li {
        font-size: 15px;
    }

}

@media (max-width: 650px){
    .professor{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 600px;
    }
    
    .face img {
        height: 250px;
    }

    .about{
        width: 80%;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0;
        margin-left: 0;
        padding-top: 0px;
    }

    .about p{
        font-size: 22px;
    }
    
    .about li {
        font-size: 17px;
    }
    

}

/*student*/

.m-topic{
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60vw;
    margin-top: 10vh;
    font-size: clamp(24px, 3vw, 30px);
}


.m-topic::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #66857b;
    margin: 10px auto 20px;
}

.member-area {
    margin: auto;
    text-align: left;
    width: 60vw;
}

.member-imgs {
    display: grid; /* 그리드 레이아웃 사용 */
    grid-template-columns: repeat(4, 1fr); /* 1행에 4개의 칸 */
    gap: 10px; /* 칸 간의 간격 설정 */
    justify-items: center; /* 각 칸 내에서 중앙 정렬 */
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.img img {
    height: clamp(160px, 13vw, 210px);
}

.img p {
    font-size: clamp(20px, 1vw, 25px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    width: 100%; /* 텍스트가 이미지 아래에서 중앙에 위치하도록 설정 */
    color: #000000;
}

.img p.sub-text {
    font-size: clamp(15px, 1.5vw, 15px);
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    color: #484848;
}


@media (max-width: 1200px){
    .m-topic{
        width: 80vw;
    }

    .member-area {
        width: 80vw;
    }

    .member-imgs {
        grid-template-columns: repeat(3, 1fr);
    }


}

@media (max-width: 650px){
    .m-topic{
        width: 90vw;
        margin-top: 5vh;
        font-size: 25px;
    }

    .member-area {
        width: 90vw;
    }

    .member-imgs {
        grid-template-columns: repeat(2, 1fr);
    }

    .img{
        flex-basis: 40%;
    }

    .img p {
        font-size: 20px;

    }
    
    .img p.sub-text {
        font-size: 15px;
    }
}

/*publication*/
.basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    background: #fff;
}

.note {
    width: 100%;
    height: 35vh;
    margin-top: clamp(50px, 10vh, 60px);
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.note img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.note .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.p-topic {
    font-family: 'Roboto Slab';
    display: inline-block;
    margin: auto;
    width: auto;
    margin-top: 10vh;
    font-size: clamp(24px, 3vw, 30px);
    position: relative;
}

.p-topic::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #66857b;
    margin: 10px 0 0 0;
}

.p1-topic{
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
    width: 70vw;
    margin-top: 10vh;
    font-size: clamp(24px, 3vw, 30px);
}

.p1-topic p{
    color: #484848;
}

.box p{
    display: flex;
    flex-direction: column;
    font-size: clamp(20px, 2vw, 23px);
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin-bottom: 40px;
    width: 70vw;
    margin-top: 50px;
    margin: 0;
    text-align: left;
}

.publication {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    width: 70vw;
    padding: 20px;
    box-sizing: border-box;
}

.media-body {
    padding-bottom: 30px;
    font-size: clamp(17px, 1vw, 24px);
}

.media-body ul > li{
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-bottom: 30px;
}

.media-body ul > li p{
    display: inline;
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin: 0;
}


@media(max-width:650px){
    .p-topic{
        margin-top: 5vh;
    }

    
    .p1-topic,
    .publication,
    .box{
        width: 85vw;
    }

    .publication{
        font-size: 24px;
        padding-right:0;
    }

    .media-body {
        font-size: 16px;
    }

    .box p{
        font-size: 20px;
    }
}



/*News*/

.news {
    width: 70%;
    margin: auto;
}

.post {

    cursor: pointer;
}

.title {
    margin-bottom: 10px;
    padding: 15px;
}

.title li {
    font-size: clamp(17px, 1vw, 24px);
    font-family: 'Roboto Slab';
    font-weight: 300;
    list-style-position: outside;
    text-indent: -1.5em;
    padding-left: 1.5em;
}

.title li > p {
    display: inline;
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin: 0;
}

.title li > span{
    display: inline;
    font-weight: 600;
    font-size: clamp(15px, 0.8vw, 20px);
    color: #66857b;
    margin: 0;
}

.content {
    display: none;
    flex-direction: row;
    height: 420px;
    padding: 10px;
    background-color: #e8e7e7;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.content::-webkit-scrollbar{
    height: 10px;
    background-color: #e8e7e7;
}

.content::-webkit-scrollbar-thumb{
    background-color: #89afa3;
    border-radius: 10px;
}

.content::-webkit-scrollbar-track{
    background-color: #e8e7e7;
    border-radius: 10px;
}


.content img {
    height: 400px;
    display: inline-block;
}



.post.active .content {
    display: block;
    animation: slideDown 0.5s ease-out;
}

.post.removing .content {
    animation: slideUp 0.5s ease-out;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height:420px;
    }
}

@keyframes slideUp {
    from {
        max-height: 420px;
    }
    to {
        max-height: 0;
    }
}

@media(max-width:650px){
    .news {
        width: 90%;
    }

    .title{
        padding-right: 0;
    }
}





/*contact*/

.contacts {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: clamp(30px,6vw,50px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-top: 50px;
    width: 60vw;

}

.contacts::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #66857b;
    margin: 10px auto 0;
}

.address {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    height: 20%;
}

.address li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: clamp(16px, 2vw, 18px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-bottom: 20px;
}

.address li i {
    margin-right: 10px;
    font-size: 40px;
}


.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 60%;
    height: 45vh;
}

.map > iframe{
    width:100%;
    height: 90%;
}

@media(max-width:650px){
    .contacts,
    .map {
        width: 90vw;
    }

    .address {
        width: 85vw;
    }

    .map{
        height: 30vh;
    }
}



/*font 설정*/

/*영문*/
@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Light.ttf');
    font-weight: 300;
    unicode-range: U+0020-007E;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Regular.ttf');
    font-weight: 400;
    unicode-range: U+0020-007E;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Medium.ttf');
    font-weight: 500;
    unicode-range: U+0020-007E;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-SemiBold.ttf');
    font-weight: 600;
    unicode-range: U+0020-007E;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Bold.ttf');
    font-weight: 700;
    unicode-range: U+0020-007E;
}




/*한글*/
@font-face{
    font-family: 'Roboto Slab';
    src: url('./k_font/NotoSerifKR-Regular.ttf');
    font-weight: 300;
    unicode-range: U+AC00-D7A3;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./k_font/NotoSerifKR-SemiBold.ttf');
    font-weight: 400;
    unicode-range: U+AC00-D7A3;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./k_font/NotoSerifKR-Bold.ttf');
    font-weight: 500;
    unicode-range: U+AC00-D7A3;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./k_font/NotoSerifKR-ExtraBold.ttf');
    font-weight: 600;
    unicode-range: U+AC00-D7A3;
}
