*{
    list-style:none;
    text-decoration:none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}


.intro_bg{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width:100%;
    height:100vh;
}

.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 90px;
    background: #FFF
    /*#8aaffd;*/
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%;
    background: #FFF;
}

.logo{
    font-size: 45px;
    font-weight: bold;
    margin:auto;
    margin-left:0px;
    background: #FFF;
}

.nav{
    display:flex;
    justify-content: flex-end;
    background: ##FFF;
}

.nav > li{
    font-size: 30px;
    margin:auto;
    margin-left:50px
}

.container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    background: #299399;
}

.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 40%;
    padding-bottom: 30px;
    background: #FFF;
}

.robot{
    text-align: center;
    height: 60%;
    background: #FFF;
}

.right {
    flex: 1;
    height: 100%;
    align-self: stretch;
    background: #FFF;
}


.two {
    width: 100%;
    height: 100vh;
}

.info {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    height: 30%;
    background-color: #FFF;
}

.contacts {
    font-size: 30px;
    display: flex;
    justify-content: left;
    align-items: end;
    margin: auto;
    background-color: #FF999F;
    width: 65%;
    height: 15%;
}

.address {
    display: flex;
    justify-content: left;
    align-items: end;
    margin: auto;
    background-color: #FFF;
    width: 55%;
    height: 20%;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #FFF;
    width: 55%;
    height: 35%;
}

.map > iframe{
    width:80%;
    
}

/*about*/
.professor {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: darkslategrey;
}

.p-image {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.details {
    font-size: 25px;
    max-width: 30vw;
    background-color: darkkhaki;
}

.details p {
    margin: 5px 0;
}

/* .details a {
    color: #0000EE;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
} */

.empty {
    height: 40%
}


.research-area {
    margin: auto;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
}

.research-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}