@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Thin.ttf');
    font-weight: 100;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-ExtraLight.ttf');
    font-weight: 200;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Light.ttf');
    font-weight: 300;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-SemiBold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Bold.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-ExtraBold.ttf');
    font-weight: 800;
}

@font-face{
    font-family: 'Roboto Slab';
    src: url('./font/RobotoSlab-Black.ttf');
    font-weight: 900;
}

*{
    text-decoration:none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

body {
    overflow-x: hidden; /* 가로 스크롤 방지 */
}


.intro_bg{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width:100%;
}

.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: clamp(35px, 10vh, 60px);
    background: #1b2021;
    z-index: 1000;
    padding: 0 2vw;
    box-sizing: border-box;
}


.logo{
    font-family: 'Roboto Slab';
    font-size: clamp(25px, 3vw, 35px);
    font-weight: 300;
    margin:auto;
    margin-left:10vw;
    background: #1b2021;
}

.logo a{
    color: #efefef;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    background: #1b2021;
    margin-right: 15vw;
}

.nav .dropdown {
    position: relative;
}

.nav .dropdown a{
    color: #efefef;
    font-size: clamp(14px, 0.8vw, 23px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin: 2vw;
    text-decoration: none;
    position: relative;
}

.nav .dropdown i {
    color: #efefef;
    font-size: clamp(10px, 0.8vw, 20px);
}

.nav .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left:50%;
    transform: translateX(-50%);
    background-color: #1b2021;
    min-width: clamp(50px, 10vw, 100px);
    padding-top: 1vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav .dropdown-content1 {
    display: none;
    position: absolute;
    top: 100%;
    left:80%;
    transform: translateX(-50%);
    background-color: #1b2021;
    min-width: 230px;
    padding-top: 1vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav .dropdown-content1 .dropdown-item,
.nav .dropdown-content .dropdown-item {
    padding: 10px 15px;
    color: #efefef;
    margin: 0;
    text-decoration: none;
    display: block;
}

.nav .dropdown-content1 .dropdown-item:hover,
.nav .dropdown-content .dropdown-item:hover {
    background-color: #5a5e5f;
}

.nav .dropdown:hover .dropdown-content1,
.nav .dropdown:hover .dropdown-content {
    display: block;
}


.menu-trigger,
.side_menu{
    display: none;
}

@media (max-width: 650px) {

    body {
        overflow-x: hidden; /* 가로 스크롤 방지 */
    }

    .intro_bg{
        width:100%;
    }
    
    .menu{
        height: 60px;
        background: #1b2021;
        z-index: 3;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background: #1b2021;
    }
    
    .logo > a {
        text-align: center;
        font-size: clamp(20px, 3vw, 48px);
        font-family: 'Roboto Slab';
        font-weight: 300;
        color: #efefef;
    }
    
    
    .nav,
    .robot{
        display: none;
    }

    .menu-trigger {
        display: block;
        margin-right: 5vw;
        margin-bottom: 0px;
        position: relative;
        width: 40px;
        height: 34px;
        cursor: pointer;
        z-index: 4;
    }

    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        
        
    }
    
    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #efefef;
        border-radius: 4px;
    }
    
    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }
    
    .menu-trigger span:nth-of-type(2) {
        top: 15px;
    }
    
    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }
    
    /* type-01 */
    /* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
    .menu-trigger.active-1 span:nth-of-type(1) {
        -webkit-transform: translateY (15px) rotate (-45deg);
        transform: translateY(15px) rotate(-45deg);
    }
    
    .menu-trigger.active-1 span:nth-of-type(2) {
        opacity: 0;
    }
    
    .menu-trigger.active-1 span:nth-of-type(3) {
        -webkit-transform: translateY(-15px) rotate(45deg);
        transform: translateY(-15px) rotate(45deg);
    }

    .side_menu {
        display: none;
        font-size: clamp(20px, 2vw, 30px);
        font-family: 'Roboto Slab';
        font-weight: 400;
        position: absolute;
        width: 100vw;
        top: 60px;
        background: #343a3b;
        padding-left: 50px;
        list-style: none;
        border-top: 1px solid #393e3e;
        z-index: 2;
        height: auto;
        overflow: hidden;
        max-height: calc(100vh - 20px);
    }
    
    .side_menu.active {
        display: block;
    }
    
    .side_menu .dropdown .a{
        display: block;
    }

    .side_menu .dropdown-content {
        display: none;
        background-color: #343a3b;
        width: 100%;
        min-width: clamp(50px, 10vw, 100px);
        margin-top: 5px;
        padding-left: 25px;
        z-index: 1000;
        position: static;
        transform: none;
    }

    .side_menu .dropdown i {
        color: #efefef;
        font-size: clamp(12px, 1vw, 25px);
    }
    
    .side_menu .dropdown.active .dropdown-content {
        display: block;
    }
    
    .side_menu .dropdown-content .dropdown-item {
        display: block;
        padding: 5px 0;
        color: #b9b9b9;
        text-decoration: none;
        font-size: clamp(15px, 1.5vw, 20px);
    }
    
    .side_menu li {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .side_menu li a {
        text-decoration: none;
        color: #b9b9b9;
    }
    
    

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        z-index: 1;
    }
    
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
    
    .side_menu.active ~ .overlay {
        opacity: 1;
        visibility: visible;
    }
}

/*여기까지 nav바 css*/

/*home(index)*/
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.margin{
    width: 100%;
    height: clamp(35px, 10vh, 60px);
}

.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-size: clamp(24px, 3vw, 30px);
    font-family: 'Roboto Slab';
    font-weight: 700;
}

.info{
    margin: auto;
    text-align: center;
    width: 60%;
    margin-top: 50px;
    font-size: clamp(18px, 2vw, 25px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    letter-spacing: 0.01em;
    color:#000000;
}

.info h4 {
    display: inline;
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin: 0;
}

.topic{
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-size: clamp(24px, 3vw, 30px);
}

.topic p{
    font-size: clamp(10px, 2vw, 20px);
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    
    margin-bottom: 40px;
    color: #484848;
}

.research-area {
    margin: auto;
    text-align: center;
    width: 70%;
}

.research-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 20px;
    text-align: center;
}

.research-icons .icon:nth-child(-n+3) {
    flex: 1 1 calc(33.33% - 40px);
    margin-bottom: 10vh;
}

.research-icons .icon:nth-child(n+4) {
    flex: 1 1 calc(50% - 40px);
}

.icon i {
    margin-bottom: 10px;
    color: #66857b;
    font-size: clamp(5px, 8vw, 70px);
}

.icon p {
    font-size: clamp(15px, 2vw, 27px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
    color: #000000;
}

.icon p.sub-text {
    font-size: clamp(10px, 2vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-align: center;
    width: 80%;
    color: #484848;
}

.projects {
    border-left: 10px solid #66857b;
    padding-left: 15px;
    margin: 20px 0;
    margin-bottom: 50px;
    color: #333;
    text-align: left;
}

.projects p{
    font-size: clamp(24px, 3vw, 30px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-bottom:20px;
}

.projects ul{
    font-size: clamp(15px, 2vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 300;
    padding-left: 20px;
}
.projects ul > li{
    margin-bottom: 10px;
}

/*Member*/
/*Professor*/

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.professor{
    display: flex;
    flex: 1;
    margin: auto;
    margin-top:15vh;
    width: 60vw;
    height: 40vh;
}

.face {
    width: 40vmin;
    height: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face img {
    height: 100%;
    object-fit: cover;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 40vmin;
    margin-left: 80px;
}

.about p{
    font-size: clamp(1em,2vw, 2em);
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.about li {
    font-size: clamp(10px, 2vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-bottom: 10px; 
    position: relative;
    padding-left: 1.5em;
    list-style: none;
}

.about li::before {
    content: '•';
    position: absolute;
    left: 0;
    width: 1em;
}

@media (max-width: 1000px){
    .professor{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        width: 80vw;
        height: 40vh;
    }

    .about{
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
        padding-left: 0;
        margin-left: 0;
    }


}

@media (max-width: 650px){
    .professor{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        width: 90vw;
        height: 40vh;
    }

    .about{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 20px;
        padding-left: 0;
        margin-left: 0;
    }


}

/*members*/

.m-topic{
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60vw;
    margin-top: 50px;
    font-size: clamp(24px, 3vw, 30px);
}


.m-topic::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #66857b;
    margin: 10px auto 0;
}

.member-area {
    margin: auto;
    text-align: left;
    width: 60vw;
}

.member-imgs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
}

.img img{
    height: clamp(160px, 15vw, 300px);
}

.img p {
    font-size: clamp(10px, 2vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    width: 110%;
    color: #000000;
}

.img p.sub-text {
    font-size: clamp(7px, 1.5vw, 15px);
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-align: center;
    width: 110%;
    color: #484848;
}

@media (max-width: 1000px){
    .m-topic{
        width: 80vw;
    }

    .member-area {
        width: 80vw;
    }


}

@media (max-width: 650px){
    .m-topic{
        width: 90vw;
    }

    .member-area {
        width: 90vw;
    }
}



/*News*/







/*publication*/
.basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    background: #fff;
}

.note {
    width: 100%;
    height: 40vh; /* 적절한 높이로 수정 */
    margin-top: clamp(35px, 10vh, 60px);
    overflow: hidden;
    position: relative;
}

.note img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.p-topic {
    font-family: 'Roboto Slab';
    display: inline-block;
    margin: auto;
    width: auto;
    margin-top: 50px;
    font-size: clamp(24px, 3vw, 30px);
    position: relative;
}

.p-topic::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #66857b;
    margin: 10px 0 0 0;
}

.p1-topic{
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    width: 70vw;
    margin-top: 50px;
    font-size: clamp(24px, 3vw, 30px);
}

.box p{
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
    width: 70vw;
    margin-top: 50px;
    font-size: clamp(18px, 2vw, 25px);
}

.publication {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    width: 70vw;
    padding: 20px;
    box-sizing: border-box;
}

.basic p {
    margin: 0;
    padding: 0;
    text-align: left; /* 이미 기본값이지만 명시적으로 추가 */
}

.media-body {
    padding-bottom: 30px;
    font-size: clamp(15px, 1.2vw, 20px);
}

.media-body ul > li{
    font-family: 'Roboto Slab';
    font-weight: 300;
    margin-bottom: 20px;
}

.media-body ul > li p{
    display: inline;
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin: 0;
}


/*contacts*/

.contacts {
    font-size: clamp(30px,6vw,50px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: end;
    margin: auto;
    margin-top: 10vh;
    width: 60%;
}

.address {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    height: 20%;
}

.address li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: clamp(15px, 1vw, 20px);
    font-family: 'Roboto Slab';
    font-weight: 400;
    margin-bottom: 20px;
}

.address li i {
    margin-right: 10px;
    font-size: 40px;
}


.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 60%;
    height: 45vh;
}

.map > iframe{
    width:100%;
    height: 90%;
}